[submodule "3rd-party/logger"]
	path = 3rd-party/logger
	url = https://github.com/scriptSQD/untitled-logger
	branch = master
[submodule "3rd-party/glfw"]
	path = 3rd-party/glfw
	url = https://github.com/glfw/glfw.git
	branch = master
